@model CIAT.DAPA.AEPS.Data.Database.FrmBlocks

@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["Action"] = Localizer["Action"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="section-title">@Localizer["Subtitle"]</h2>
<p class="section-lead">@Localizer["Description"]</p>

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header buttons">
                <h4>@Localizer["Options"]</h4>
            </div>
            <div class="card-body">
                <a asp-action="Index" class="btn btn-icon btn-warning"><i class="fas fa-angle-left"></i> @Localizer["Return"]</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-icon btn-primary"><i class="fas fa-edit"></i> @Localizer["Edit"]</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header buttons">
                <h4>@Localizer["Subtitle"]</h4>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Repeat)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Repeat)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Times)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Times)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Enable)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Enable)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ExtId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExtId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Updated)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Updated)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header buttons">
                <h4>@Localizer["Forms"]</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            @foreach (var item in Model.FrmBlocksForms)
                            {
                                <tr>
                                    <td>@item.FormNavigation.Title</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>