@using Microsoft.AspNetCore.Identity
@using CIAT.DAPA.AEPS.Users.Models

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IOptions<RequestLocalizationOptions> LocOptions

<ul class="navbar-nav navbar-right">
    @{
        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
        var cultureItems = LocOptions.Value.SupportedUICultures
            .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
            .ToList();
        var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    }
    <li class="dropdown">
        <a class="dropdown-toggle nav-link dropdown-toggle nav-link-lg nav-link-user" href="#" data-toggle="dropdown" id="drop_language"  aria-haspopup="true" aria-expanded="true">
            @requestCulture.RequestCulture.UICulture.Name.ToUpper().Substring(0, 2) <span class="caret"></span>
        </a>
        <ul class="drop_language dropdown-menu" aria-labelledby="drop_language">
            @foreach (var s in cultureItems)
            {
                <li style="padding:5px 15px;">
                    <form id="selectLanguage_@s.Value" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
                          method="post" class="form-horizontal" role="form">
                        <input type="hidden" name="culture" id="culture" value="@s.Value" />
                        <a onclick="$('#selectLanguage_@s.Value').submit();" style="cursor:pointer;">@s.Value.ToUpper().Substring(0, 2)</a>
                    </form>
                </li>
            }
        </ul>
    </li>

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="~/css/stisla/assets/img/avatar/avatar-2.png" width="30" class="rounded-circle mr-1">
                <div class="d-sm-none d-lg-inline-block">@Localizer["Greetings"], @UserManager.GetUserName(User)</div>
                <!-- <a asp-controller="Account" asp-action="Manage">@UserManager.GetUserName(User)</a> -->
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="features-settings.html" class="dropdown-item has-icon">
                    <i class="fas fa-cog"></i> @Localizer["Settings"]
                </a>
                <div class="dropdown-divider"></div>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <a href="#" class="dropdown-item has-icon text-danger" onclick="document.getElementById('logoutForm').submit()">
                        <i class="fas fa-sign-out-alt"></i> @Localizer["Logout"]
                    </a>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="dropdown">
            <a asp-area="" class="nav-link nav-link-lg nav-link-user" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
        </li>
        <li class="dropdown">
            <a asp-area="" class="nav-link nav-link-lg nav-link-user" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
        </li>
    }


</ul>