
<ul class="sidebar-menu">
    <li class="menu-header">@Localizer["Management"]</li>

    <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-file-alt"></i><span>@Localizer["Forms"]</span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Forms" asp-action="Index">@Localizer["FormsForms"]</a></li>
            <li><a asp-area="" asp-controller="Blocks" asp-action="Index">@Localizer["FormsBlocks"]</a></li>
            <li><a asp-area="" asp-controller="Questions" asp-action="Index">@Localizer["FormsQuestions"]</a></li>
            <li><a asp-area="" asp-controller="Options" asp-action="Index">@Localizer["FormsOptions"]</a></li>
            <li><a asp-area="" asp-controller="Rules" asp-action="Index">@Localizer["FormsRules"]</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-universal-access"></i><span>@Localizer["Organization"]</span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Associations" asp-action="Index">@Localizer["OrganizationAssociations"]</a></li>
            <li><a asp-area="" asp-controller="Countries" asp-action="Index">@Localizer["OrganizationCountries"]</a></li>
            <li><a asp-area="" asp-controller="States" asp-action="Index">@Localizer["OrganizationStates"]</a></li>
            <li><a asp-area="" asp-controller="Municipalities" asp-action="Index">@Localizer["OrganizationMunicipalities"]</a></li>
            <li><a asp-area="" asp-controller="Peoples" asp-action="Index">@Localizer["OrganizationPeople"]</a></li>
        </ul>
    </li>
    
    <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-users"></i><span>@Localizer["Users"]</span></a>
        <ul class="dropdown-menu">
            <li class="active"><a asp-area="" asp-controller="Users" asp-action="Index">@Localizer["Users"]</a></li>
        </ul>
    </li>


    <li class="menu-header">@Localizer["Reports"]</li>

    <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-seedling"></i><span>@Localizer["ReportsCrop"]</span></a>
        <ul class="dropdown-menu">
            <li><a asp-route-id="1" asp-controller="Reports" asp-action="Index" target="_blank">@Localizer["ReportsCropPerformance"]</a></li>            
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-signal"></i><span>@Localizer["ReportsManagement"]</span></a>
        <ul class="dropdown-menu">
            <li><a asp-route-id="2" asp-controller="Reports" asp-action="Index" target="_blank">@Localizer["ReportsManagementPerformance"]</a></li>
        </ul>
    </li>


</ul>

<div class="p-3 mt-4 mb-4 hide-sidebar-mini">
    <a href="https://aeps-platform-docs.readthedocs.io/en/latest/web-administrator.html" class="btn btn-primary btn-lg btn-icon-split btn-block" target="_blank">
        <i class="far fa-question-circle"></i> <div>Documentation</div>
    </a>
</div>