@model CIAT.DAPA.AEPS.Data.Database.ConCountries

@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["Action"] = Localizer["Action"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="section-title">@Localizer["Subtitle"]</h2>
<p class="section-lead">@Localizer["Description"]</p>

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header buttons">
                <h4>@Localizer["Options"]</h4>
            </div>
            <div class="card-body">
                <a asp-action="Index" class="btn btn-icon btn-warning"><i class="fas fa-angle-left"></i> @Localizer["Return"]</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-icon btn-primary"><i class="fas fa-edit"></i> @Localizer["Edit"]</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header buttons">
                <h4>@Localizer["Subtitle"]</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Iso2)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Iso2)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ExtId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ExtId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Created)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Updated)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Updated)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>