@model IEnumerable<CIAT.DAPA.AEPS.Data.Database.ConCountries>

@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["Action"] = Localizer["Action"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="section-title">@ViewData["Title"]</h2>
<p class="section-lead">@Localizer["Description"]</p>

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header buttons">
                <a asp-action="Create" class="btn btn-icon btn-success"><i class="fas fa-plus-circle"></i> @Localizer["New"]</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <input type="text" id="txt_search" class="form-control" onkeyup="search_text()" placeholder="@Localizer["Search"]" />
                    </div>
                    <table class="table" id="index_list">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Iso2)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExtId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Updated)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Iso2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExtId)
                                </td>
                                <td>
                                    @item.Updated.ToString("yyyy-MM-dd HH:mm:ss")
                                </td>
                                <td class="buttons">
                                    <form asp-action="Delete" id="frm_delete_@item.Id">
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-icon btn-info" data-toggle="tooltip" data-original-title="@Localizer["Details"]"><i class="fas fa-info"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-icon btn-primary" data-toggle="tooltip" data-original-title="@Localizer["Edit"]"><i class="fas fa-edit"></i></a>
                                        <input type="hidden" data-val="true" data-val-required="The Código field is required." id="Id" name="Id" value="@item.Id">
                                        <button data-toggle="tooltip" data-original-title="@Localizer["Delete"]" class="btn btn-icon btn-danger"
                                                data-confirm="@Localizer["DeleteConfirmTitle"]|@Localizer["DeleteConfirmQuestion"] <br/><b>@Html.DisplayFor(modelItem => item.Name)</b>" data-confirm-yes="document.getElementById('frm_delete_@item.Id').submit();">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
}
